<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostname" value="localhost"/>
    <add key="port" value="8080"/>
    
    <add key="GetHost1" value="raknetsrv2.iondriver.com"/>
    <add key="GetPort1" value="80"/>
    <add key="GetTimeout1" value="10000"/>
    
    <add key="GetHost2" value="masterserver.matesfamily.org"/>
    <add key="GetPort2" value="80"/>
    <add key="GetTimeout2" value="2000"/>
    
    <add key="GetHost3" value="gamelist.kebbz.com"/>
    <add key="GetPort3" value="80"/>
    <add key="GetTimeout3" value="3000"/>
    
    <add key="PostHost1" value="masterserver.matesfamily.org"/>
    <add key="PostPort1" value="80"/>
    <add key="PostTimeout1" value="2000"/>
    
    <add key="PostHost2" value="gamelist.kebbz.com"/>
    <add key="PostPort2" value="80"/>
    <add key="PostTimeout2" value="3000"/>
    
    <add key="PostHost3" value="raknetsrv2.iondriver.com"/>
    <add key="PostPort3" value="80"/>
    <add key="PostTimeout3" value="10000"/>
  </appSettings>
</configuration>